
<style>
	 #main {
         overflow-x: auto;
	}
    
    #result {
     	width:auto; 
        height:auto;
        padding:20px;
        text-align:center;
		display:none;
    }
        
    #result a {
        text-decoration: underline;
		margin:10px;
        font-size:24px;}
    
    #result a:hover {text-decoration: none;}
    
        th {
        border:1px solid black;
       text-align: center;
        padding:10px;
            overflow-x: auto;
        
    }
    td {
        border-top:1px solid #666666;
       text-align: left;
        padding:8px;
		height:10px;
      
    }
	
	table {
		
	width:70%;
	margin-left: 175px;
	
		
	}
	
	
	#tv {
		
		 width:520px;
		padding:8px;
	}

	
input[type="radio"] {
    display:inline-block;
    margin: 20px;
        -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

label {
    display:inline-block;
}

	

.primary{
    text-align: center;
	 background-color: red;
    color: white;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
	padding: 10px 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
	margin-left:45%;
	margin-top:3%
}
     

.secondary{
    background: none!important;
  border: none;
  font-size: 22px;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.primary:hover {
background-color: #900;
 cursor: pointer;
}
    
.secondary:hover {
   text-decoration: none;
}
     
	 @media screen and (max-width: 600px) {
  table td {
    display: contents;
  text-align: left;
}

table {
	margin-left: 0px;
	width:100%;
}

.primary {
 margin-left:4%}
   
}

    .Container-wrapper {
    overflow: initial;
}

    #smart, #sky, #streaming, #drive, #dishtv {scroll-margin-top: 40px;overflow: initial;}

</style>