
*{
	font-family: Sans-Serif;
	box-sizing: border-box;
}

h1 {
padding:10px}



body{
	padding:1em 10%;
}

textarea,input[type='text']{
	font-family: Arial;
}

textarea{
	border-radius: 5px;
		border: 2px solid #000;
	width: 500px;
	padding:1em;
}

textarea:hover{
	border-radius: 5px;
		border: 2px solid #FFC0CB.;
	width: 500px;
	padding:1em;
}
.field2 {
	width:500px; float:right;
}

. input2 {
width:500px; float:left;}

.config{
	width: 500px;
	border-radius: 5px;
	border: 2px solid #000;
	padding: 1em;
	display: inline-block;
	color: #888888;
}


ol

{
font-size : 22px;}

li
{margin:10px;}
.editor {
    background: #fff;
    border: 2px solid #000;
	width: 500px;
	height:150px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 2px;
}



.bts {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin:10px;
}

.bts:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.bts:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

.replace {

    background: #fff;
    border: 2px solid #000;
	width: 500px;
	height:150px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
}


.with-padding {
	width: 1200px;
	height:auto;
}

.btn2 {
	width:1200px;
	margin-left:500px;
}

.first {
display:flex;
padding:10px}

.second {
margin-left:400px;}
.third{
	margin-left:400px;
	display:flex;}